.menu-Container{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-selection-Card{
    height: 40vh;
    width: 25vh;
    background-color: green;
}
.menu-Container h1{
    display: flex;
    font-weight: 100;
    font-size: 67px;
   margin-bottom: 100px;
}
.menu-Card-Selection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.menu-Card-Selection a{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 50px;
}
    

.menu-Card-Selection li{
    height: 50vh;
    width: 40vh;
    border : 1px solid;
    margin: 20px;
    list-style: none;
    text-align: center;
    
}
.Pork-Container{
    color: white;
    height: 100%;
}


.Food-Card-Menu{
    height: 60vh;
    width: 40vh;
    display: flex;
    border: 1px solid;
}