.Login-Container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.Login-Container h1 {
    font-size: 50px;
    
    color: yellowgreen;
}
.Login-Container form{
    display: flex;
    height: 60vh;
    background-color: #ffffff78;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 20px;
    margin-bottom: 100px;
}
.Login-Container label {
    font-size: 25px;
    margin: 20px;
}
.Login-Container input {
    height: 5vh;
    width: 60%;
    font-size: 20px;
    border-radius: 6px;
    padding: 2px;
    border-style: none;
}
.btn-Login {
    margin-top: 20px;
    display:flex;
    position: relative;
    justify-content: flex-end;
}
.btn-Login button{
    background-color: #A2B92F;
    width: 24vh;
    height: 5vh;
    margin: 20px;
    border-radius: 6px;
    font-size: 22px;
    border:none;
}
.btn-Login button:hover{
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

}
.btn-Login button a{
    text-decoration: none;
    color:black;
}
.SignUp-Container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 100px ;
}
.SignUp-Container h1{
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: yellowgreen;
    
}
.SignUp-Form{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #ffffff78;
    justify-content: center;
    align-items: center;
}
.SignUp-Form input{
    height: 5vh;
    width: 60%;
    font-size: 20px;
    border-radius: 6px;
    padding: 2px;
    border-style: none;

}
.SignUp-Form label{
    font-size: 25px;
    margin: 10px;
}
