.menu-Container{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-selection-Card{
    height: 40vh;
    width: 25vh;
    background-color: green;
}
.menu-Container h1{
    display: flex;
    font-weight: 100;
    font-size: 67px;
   margin-bottom: 100px;
}
.menu-Card-Selection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.menu-Card-Selection a{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 50px;
}
    

.menu-Card-Selection li{
    height: 50vh;
    width: 40vh;
    border : 1px solid;
    margin: 20px;
    list-style: none;
    text-align: center;
    border-radius: 20px;
    
}
.menu-Card-Selection li:hover{
    box-shadow: 0px 0px 10px yellow;
}
.Food-Container{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.Food-Container h1{
    margin-bottom: 100px;
    font-size: 67px;
}
.Food-Container ul{
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    justify-content: center;
}


.Food-Card-Menu{
    height: 40vh;
    width: 40vh;
    display: flex;
    border: 1px solid;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: black;
    background-color: wheat;
    border-radius: 20px;
}
.Food-name p{
    margin: 0;
}
.Food-name{
    font-family: Arial;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 150%;
}
.Food-Card-Menu img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
/*.Food-Description{
    margin: 0;
    font-size: 20px;
    background-color: gainsboro;
    text-align: justify;
}*/
